In [3]:
from Process_Classes import  information, dataRegression

In [4]:
df = information("data/","HW_Data_Set_Small.xlsx")

Class object initialized

In [5]:
df.getInfo(True,"drop")

HW_Data_Set_Small.xlsx is loaded
Row count before removal: 2525
Row count after removal: 2525

,ind_5,ind_6,ind_8,ind_9,ind_10,ind_12,ind_13,ind_14,ind_15,ind_16,...,ind_172,ind_176,ind_179,ind_181,ind_188,ind_426,ind_428,20_target,50_target,90_target
0,19,17,100.0,85.714286,14.285714,72.363515,60.808814,23.80,17.62,11.73,...,8.133485,-39.935439,7.45,7.99,96.268657,0.498547,0.701906,15.135802,35.625252,36.997753
1,24,19,100.0,78.571429,21.428571,74.275883,64.366798,11.45,18.16,12.22,...,20.369365,-32.824223,14.46,16.65,98.630137,0.537088,0.690833,15.143348,35.643013,37.016198
2,30,24,100.0,71.428571,28.571429,75.140402,65.915803,8.75,17.86,12.28,...,24.829522,-24.435774,12.88,17.65,95.721078,0.615169,0.693040,15.146870,35.651301,-37.024805
3,37,30,100.0,64.285714,35.714286,76.677846,68.584234,7.80,14.76,12.61,...,23.805087,-18.507998,5.63,5.26,96.691176,0.661517,0.673418,15.153283,0.000000,-37.040483
4,41,37,100.0,57.142857,42.857143,81.603007,76.455495,14.90,11.92,14.25,...,20.002105,-20.453871,1.32,1.23,99.776786,0.747204,0.700522,-15.179065,-35.727079,-37.103503

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2525 entries, 0 to 2524
Data columns (total 56 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ind_5      2525 non-null   int64
 1   ind_6      2525 non-null   int64
 2   ind_8      2525 non-null   float64
 3   ind_9      2525 non-null   float64
 4   ind_10     2525 non-null   float64
 5   ind_12     2525 non-null   float64
 6   ind_13     2525 non-null   float64
 7   ind_14     2525 non-null   float64
 8   ind_15     2525 non-null   float64
 9   ind_16     2525 non-null   float64
 10  ind_17     2525 non-null   float64
 11  ind_18     2525 non-null   float64
 12  ind_19     2525 non-null   int64
 13  ind_20     2525 non-null   int64
 14  ind_21     2525 non-null   int64
 15  ind_22     2525 non-null   int64
 16  ind_23     2525 non-null   int64
 17  ind_67     2525 non-null   int64
 18  ind_70     2525 non-null   int64
 19  ind_71     2525 non-null   int64
 20  ind_74     2525 non-null   int64
 21  ind_77     2525 non-null   int64
 22  ind_82     2525 non-null   int64
 23  ind_83     2525 non-null   int64
 24  ind_88     2525 non-null   float64
 25  ind_92     2525 non-null   float64
 26  ind_102    2525 non-null   float64
 27  ind_109    2525 non-null   object
 28  ind_116    2525 non-null   int64
 29  ind_118    2525 non-null   float64
 30  ind_122    2525 non-null   int64
 31  ind_124    2525 non-null   int64
 32  ind_128    2525 non-null   int64
 33  ind_130    2525 non-null   int64
 34  ind_132    2525 non-null   int64
 35  ind_134    2525 non-null   int64
 36  ind_136    2525 non-null   int64
 37  ind_139    2525 non-null   float64
 38  ind_142    2525 non-null   float64
 39  ind_145    2525 non-null   float64
 40  ind_147    2525 non-null   float64
 41  ind_150    2525 non-null   float64
 42  ind_153    2525 non-null   float64
 43  ind_156    2525 non-null   float64
 44  ind_164    2525 non-null   float64
 45  ind_168    2525 non-null   float64
 46  ind_172    2525 non-null   float64
 47  ind_176    2525 non-null   float64
 48  ind_179    2525 non-null   float64
 49  ind_181    2525 non-null   float64
 50  ind_188    2525 non-null   float64
 51  ind_426    2525 non-null   float64
 52  ind_428    2525 non-null   float64
 53  20_target  2525 non-null   float64
 54  50_target  2525 non-null   float64
 55  90_target  2525 non-null   float64
dtypes: float64(33), int64(22), object(1)
memory usage: 1.1+ MB

None

,count,mean,std,min,25%,50%,75%,max
ind_5,2525.0,1.844356e+00,24.397623,-79.000000,-13.000000,0.000000,17.000000,76.000000
ind_6,2525.0,1.862574e+00,24.391755,-79.000000,-13.000000,0.000000,17.000000,76.000000
ind_8,2525.0,4.762376e+01,36.388962,0.000000,14.285714,42.857143,85.714286,100.000000
ind_9,2525.0,4.761810e+01,36.510045,0.000000,14.285714,42.857143,85.714286,100.000000
ind_10,2525.0,5.657709e-03,61.505354,-100.000000,-57.142857,7.142857,57.142857,100.000000
ind_12,2525.0,5.068301e+01,12.329809,14.577246,41.603556,50.580881,59.684205,84.821848
ind_13,2525.0,-1.249692e+01,62.927074,-487.000626,-41.364072,1.296841,31.451484,81.105847
ind_14,2525.0,1.290358e+01,7.003848,2.200000,8.300000,11.550000,15.900000,82.900000
ind_15,2525.0,1.291311e+01,5.876369,2.780000,8.660000,12.040000,16.120000,54.240000
ind_16,2525.0,1.291851e+01,4.980541,3.820000,9.260000,12.320000,16.050000,37.050000
ind_17,2525.0,1.291971e+01,4.504593,4.306667,9.426667,12.600000,15.680000,40.460000
ind_18,2525.0,1.290840e+01,2.996362,7.160000,10.852500,12.802500,14.687500,27.097500
ind_19,2525.0,6.495050e-01,9.351322,-31.000000,-5.000000,0.000000,6.000000,34.000000
ind_20,2525.0,1.765941e+00,19.903916,-63.000000,-11.000000,0.000000,15.000000,62.000000
ind_21,2525.0,1.133465e+00,11.530467,-35.000000,-6.000000,0.000000,9.000000,32.000000
ind_22,2525.0,-2.648158e+01,26.075278,-177.000000,-36.000000,-20.000000,-10.000000,28.000000
ind_23,2525.0,2.875842e+01,28.506141,-21.000000,9.000000,21.000000,39.000000,175.000000
ind_67,2525.0,-2.732673e-01,2.719992,-8.000000,-2.000000,0.000000,2.000000,8.000000
ind_70,2525.0,-2.843564e-01,2.295678,-7.000000,-2.000000,0.000000,1.000000,6.000000
ind_71,2525.0,2.752475e-01,12.910758,-25.000000,-12.000000,4.000000,13.000000,24.000000
ind_74,2525.0,7.148515e-01,12.893147,-22.000000,-12.000000,8.000000,13.000000,23.000000
ind_77,2525.0,1.222178e+00,12.835241,-21.000000,-12.000000,9.000000,13.000000,21.000000
ind_82,2525.0,-3.738614e-01,1.014763,-3.000000,-1.000000,0.000000,0.000000,2.000000
ind_83,2525.0,3.348515e+00,12.355365,-16.000000,-12.000000,11.000000,14.000000,17.000000
ind_88,2525.0,-6.073442e-07,0.000571,-0.005564,-0.000064,0.000000,0.000000,0.005242
ind_92,2525.0,1.957610e-01,8.040339,-51.211722,-3.726809,-0.016098,3.908575,55.540445
ind_102,2525.0,2.097011e+00,24.956816,-87.318296,-13.892157,0.250665,17.705673,77.023890
ind_116,2525.0,8.792079e-02,16.515570,-66.000000,-9.000000,0.000000,10.000000,85.000000
ind_118,2525.0,2.049014e-04,0.002081,-0.006386,-0.001148,0.000002,0.001593,0.006008
ind_122,2525.0,-5.227723e-02,4.476878,-37.000000,-2.000000,0.000000,2.000000,36.000000
ind_124,2525.0,-5.227723e-01,15.065098,-73.000000,-8.000000,0.000000,7.000000,87.000000
ind_128,2525.0,-2.535050e+00,30.649494,-96.000000,-22.000000,0.000000,17.000000,108.000000
ind_130,2525.0,-7.485149e+00,53.035940,-181.000000,-44.000000,-6.000000,33.000000,124.000000
ind_132,2525.0,-1.650970e+01,77.814611,-260.000000,-67.000000,-12.000000,42.000000,174.000000
ind_134,2525.0,1.132673e-01,8.479434,-71.000000,-4.000000,0.000000,4.000000,74.000000
ind_136,2525.0,1.025743e-01,8.934664,-72.000000,-4.000000,0.000000,5.000000,75.000000
ind_139,2525.0,5.054705e+01,14.745453,7.320057,39.892238,50.889260,61.580463,86.335950
ind_142,2525.0,5.070435e+01,11.307832,19.932351,42.723646,50.105102,59.785638,78.028606
ind_145,2525.0,1.335936e-02,0.265590,-1.088589,-0.138934,0.004976,0.158786,1.278224
ind_147,2525.0,5.050502e+01,19.168415,3.398093,36.354258,50.889661,64.384879,96.140558
ind_150,2525.0,5.078156e+01,10.744415,20.409874,42.998532,50.240321,58.852698,80.190368
ind_153,2525.0,5.107733e+01,7.391163,33.811722,45.868194,50.684689,56.621851,72.366245
ind_156,2525.0,5.152706e+01,3.423252,44.368315,48.871039,51.620467,53.810618,61.388384
ind_164,2525.0,9.724304e-02,12.050836,-64.556316,-6.445789,-0.039825,6.731579,52.634649
ind_168,2525.0,1.136309e-01,15.765825,-92.944259,-9.270233,0.039003,8.704708,76.622526
ind_172,2525.0,1.035369e-01,22.974258,-111.992107,-13.184262,0.356430,13.548317,86.342794
ind_176,2525.0,1.170844e-01,22.236354,-83.645721,-14.449967,0.516644,15.068110,77.504422
ind_179,2525.0,1.234614e-01,6.565186,-34.470000,-3.360000,-0.080000,3.210000,61.160000
ind_181,2525.0,1.277426e-01,6.638693,-50.530000,-3.380000,0.010000,3.460000,38.950000
ind_188,2525.0,5.013391e+01,28.772150,0.000000,25.128205,49.702381,75.492958,100.000000
ind_426,2525.0,5.137774e-01,0.227642,0.000000,0.349673,0.505618,0.698990,1.000000
ind_428,2525.0,5.131535e-01,0.150018,0.083530,0.406863,0.509846,0.628763,0.868534
20_target,2525.0,2.189567e-01,15.201786,-15.780588,-15.491208,0.000000,15.469200,15.768767
50_target,2525.0,-3.114179e-01,35.457095,-37.142889,-36.489598,0.000000,36.365866,37.038694
90_target,2525.0,3.127718e-01,37.636747,-38.573858,-37.912613,36.644535,37.790263,38.465649

Columns names with object type are saved in .catlist if you want to turn them into dummies use cattodummy

In [8]:
df.dropColumn(["20_target","90_target"])

In [9]:
df.catToDummy()

Looking for: ['ind_109']
Dummies are combined with data and saved as .catdata

,ind_5,ind_6,ind_8,ind_9,ind_10,ind_12,ind_13,ind_14,ind_15,ind_16,...,ind_168,ind_172,ind_176,ind_179,ind_181,ind_188,ind_426,ind_428,50_target,ind_109_RED
0,19,17,100.0,85.714286,14.285714,72.363515,60.808814,23.80,17.62,11.73,...,-12.212712,8.133485,-39.935439,7.45,7.99,96.268657,0.498547,0.701906,35.625252,0
1,24,19,100.0,78.571429,21.428571,74.275883,64.366798,11.45,18.16,12.22,...,-2.463107,20.369365,-32.824223,14.46,16.65,98.630137,0.537088,0.690833,35.643013,0
2,30,24,100.0,71.428571,28.571429,75.140402,65.915803,8.75,17.86,12.28,...,7.346277,24.829522,-24.435774,12.88,17.65,95.721078,0.615169,0.693040,35.651301,0
3,37,30,100.0,64.285714,35.714286,76.677846,68.584234,7.80,14.76,12.61,...,12.828428,23.805087,-18.507998,5.63,5.26,96.691176,0.661517,0.673418,0.000000,0
4,41,37,100.0,57.142857,42.857143,81.603007,76.455495,14.90,11.92,14.25,...,11.185335,20.002105,-20.453871,1.32,1.23,99.776786,0.747204,0.700522,-35.727079,0

In [10]:
y,X= df.chooseYourTarget("50_target")

,ind_5,ind_6,ind_8,ind_9,ind_10,ind_12,ind_13,ind_14,ind_15,ind_16,...,ind_164,ind_168,ind_172,ind_176,ind_179,ind_181,ind_188,ind_426,ind_428,ind_109_RED
0,19,17,100.0,85.714286,14.285714,72.363515,60.808814,23.80,17.62,11.73,...,-23.189737,-12.212712,8.133485,-39.935439,7.45,7.99,96.268657,0.498547,0.701906,0
1,24,19,100.0,78.571429,21.428571,74.275883,64.366798,11.45,18.16,12.22,...,-18.315789,-2.463107,20.369365,-32.824223,14.46,16.65,98.630137,0.537088,0.690833,0
2,30,24,100.0,71.428571,28.571429,75.140402,65.915803,8.75,17.86,12.28,...,-9.289649,7.346277,24.829522,-24.435774,12.88,17.65,95.721078,0.615169,0.693040,0
3,37,30,100.0,64.285714,35.714286,76.677846,68.584234,7.80,14.76,12.61,...,-2.066140,12.828428,23.805087,-18.507998,5.63,5.26,96.691176,0.661517,0.673418,0
4,41,37,100.0,57.142857,42.857143,81.603007,76.455495,14.90,11.92,14.25,...,-3.589123,11.185335,20.002105,-20.453871,1.32,1.23,99.776786,0.747204,0.700522,0

In [11]:
X = X.drop("ind_109_RED",axis=1)

In [13]:
a = dataRegression(X,y)

Regression class

In [14]:
a.split(42,False)

In [16]:
a.defaultProcesses()

Results for default LinearRegression
34.76763124759419
Results for default decision tree
46.16323346077494
Results for default random forest
36.3995555915916
Results for default MLP
36.314241412357866
Results for default Gradient Boosting
36.314241412357866
Results for default Gradient Boosting
40.624014508308456
Results for default XGBoost
41.18536752778352
Results for default LGBM
38.55166099097786
Results for default CatBoost
37.13406165787316
Results for default KNeighborsRegressor
39.58066175713799

In [17]:
a.grid('cat')

Fitting 10 folds for each of 18 candidates, totalling 180 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:   24.6s
[Parallel(n_jobs=-1)]: Done 146 tasks      | elapsed:  9.5min
[Parallel(n_jobs=-1)]: Done 180 out of 180 | elapsed: 20.5min finished

En iyi parametlerler: {'depth': 3, 'iterations': 200, 'learning_rate': 0.01}
Result for  cat
34.5953666645919

In [14]:
a.grid('xgb')

Fitting 10 folds for each of 384 candidates, totalling 3840 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:   40.6s
[Parallel(n_jobs=-1)]: Done 146 tasks      | elapsed:  6.1min
[Parallel(n_jobs=-1)]: Done 349 tasks      | elapsed: 18.7min
[Parallel(n_jobs=-1)]: Done 632 tasks      | elapsed: 36.4min
[Parallel(n_jobs=-1)]: Done 997 tasks      | elapsed: 60.1min
[Parallel(n_jobs=-1)]: Done 1442 tasks      | elapsed: 88.0min
[Parallel(n_jobs=-1)]: Done 1969 tasks      | elapsed: 120.9min
[Parallel(n_jobs=-1)]: Done 2576 tasks      | elapsed: 180.1min
[Parallel(n_jobs=-1)]: Done 3265 tasks      | elapsed: 251.4min
[Parallel(n_jobs=-1)]: Done 3840 out of 3840 | elapsed: 319.6min finished

En iyi parametlerler: {'colsample_bytree': 0.6, 'learning_rate': 0.01, 'max_depth': 5, 'min_child_weight': 0.8, 'n_estimators': 100}
Result for  xgb
35.04715556948948

In [15]:
a.grid('knn')

Fitting 5 folds for each of 234 candidates, totalling 1170 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:    5.1s
[Parallel(n_jobs=-1)]: Done 146 tasks      | elapsed:   18.6s
[Parallel(n_jobs=-1)]: Done 349 tasks      | elapsed:   45.4s
[Parallel(n_jobs=-1)]: Done 632 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done 997 tasks      | elapsed:  2.3min
[Parallel(n_jobs=-1)]: Done 1170 out of 1170 | elapsed:  2.8min finished

En iyi parametlerler: {'metric': 'manhattan', 'n_neighbors': 39, 'weights': 'uniform'}
Result for  knn
38.9558193522356

HW4_Regressiondakin diğer değerlere de baktığımız zaman en iyi sonucun catboostun tuned halinde gözlemliyoruz